#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.swal-green .swal2-timer-progress-bar {
  background-color: #64a436f9 !important;
}

.swal-red .swal2-timer-progress-bar {
  background-color: #a43636f9 !important;
}